* {
    font-family: 'Joan', serif;
}
h1 {
    margin-left: 5vw;
    font-size: 4vw;
}
h2 {
    margin-left: 5vw;
    font-size: 3vw;
}
p {
    margin-left: 5vw;
    font-size: 2vw;
}
ul{
    margin-left: 5vw;
    font-size: 2vw;
}
ol{
    margin-left: 2vw;
}
li{
    margin-left: 1vw;
    font-size: 2vw;
}
img {
    max-width: 20vw;
}
body {
    margin: 0vw;
}
.offcolor{
    background-color: #D3D3D3;
}
#pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
